{% extends "base.html" %}
{% block content %}
<div class="w3-container" style="width: 50%;">
  <h2>Welcome!</h2>
  <h3>Calculate your <em>real</em> album listening stats, based on the track count per album.</h3>
  <form class="w3-container" method="GET" action="/get_stats">
      <label for="username">Enter your last.fm username:</label>
      <input id="username" name="username" class="w3-input w3-border w3-round" type="text" required placeholder="username">
      <br>
      <input class="w3-btn w3-green w3-round" type="submit" value="Calculate">
    </form>
</div>
{% endblock %}
