{% extends "base.html" %} {% block content %} {% include 'partials/header.html'
%}
<div class="w3-container">
  <h4>
    {% if not year %} Overview per year {% else %} Overview per month for
    {{year}} {% endif %}
  </h4>
</div>
{% if not overview %}
<div class="w3-container">
  <b> No listening data </b>
</div>
{% else %}
<div class="w3-row-padding">
  {% for stat in overview %}
  <div class="w3-third">
    <div
      hx-get="/get_stats/detail?username={{username}}&year={{year or stat.year}}&month={{stat.month}}"
      hx-trigger="load" {# trigger on 'revealed' not possible since we swap elements in so you dont scroll and thus dont trigger a 'reveal'. #}
    >
      <figure
        class="w3-center w3-padding-16 w3-margin"
      >
        <div
          style="width: 300px; height: 300px;" {# Fixed size so that it is a square even when the request is still loading #}
        >
          <i>loading<span class="blink">..</span></i>
        </div>
        <figcaption>
          {{stat.month and stat.month|monthname}} {{stat.year}}
        </figcaption>
      </figure>
    </div>
  </div>
  {% endfor %}
</div>
{% endif %}
<a href="#top">^ To top</a>
<script src="https://unpkg.com/htmx.org@0.3.0" async></script>
{% endblock %}
