{% extends "base.html" %}
{% block content %}
<div class="w3-container">
  <div class="w3-row">
    <div class="w3-twothird">
      <h3>Real album stats for <a href="https://www.last.fm/user/{{username}}">{{ username }}</a></h3>
    </div>
    <div class="w3-third w3-padding-16">
      {% for range in ranges %}
        {% if selected_range == range|string %}<strong>{%endif%}
        <a
          href="/get_stats?username={{username}}&range={{range}}"
          onClick="document.getElementById('overlay').classList.toggle('w3-hide');"
        >
          {% if range %}
            Last {{range}} days
          {% else %}
            All time
          {% endif %}
        </a>
        {% if selected_range == range|string %}</strong>{%endif%}
      {% endfor %}
    </div>
  </div>
  <div class="w3-container">
    {% if stats %}
        {% if original_top_album.artist_name == stats[0].artist and original_top_album.name == stats[0].album_name %}
          No changes! Even when based on the album track count, your top album is still:
        {% else %}
          Surprise! <em>{{original_top_album.name}}</em> by <em>{{original_top_album.artist}}</em> is not really your top album!
          When based on the album track count, it is:
        {% endif %}
        <div class="w3-margin-top">
            {% if stats[0].cover_url %}
                <a href="https://www.last.fm/music/{{stats[0].artist_name.replace(' ', '+')}}/{{stats[0].album_name.replace(' ', '+')}}">
                    <img src="{{stats[0].cover_url}}" width="300px">
                </a>
            {% endif %}
            <h3>
              <em>{{stats[0].album_name}}</em> by <em>{{stats[0].artist_name}}</em>
            </h3>
        </div>
        {% if stats[0].original_position > 1 %}
          Which was originally at position <em>{{stats[0].original_position}}</em>.
        {% endif %}
    {% endif %}
  </div>
  <table class="w3-table-all w3-hoverable">
    <tr class="w3-theme-d4">
      <th>#</th>
      <th><strong>Album plays</strong></th>
      <th>Album</th>
      <th>Track plays</th>
      <th>Album track count</th>
    </tr>
    {% for stat in stats %}
      <tr>
        <td>{{ loop.index }}</td>
        <td><strong>{{stat.album_scrobble_count}}</strong></td>
        <td><a href="https://www.last.fm/music/{{stat.artist_name.replace(' ', '+')}}/{{stat.album_name.replace(' ', '+')}}">{{stat.album_name}}</a> &mdash; <a href="https://www.last.fm/music/{{stat.artist_name.replace(' ', '+')}}">{{stat.artist_name}}</a></td>
        <td>{{stat.scrobble_count}}</td>
        <td>{{stat.track_count}}</td>
      </tr>
    {% endfor %}
  </table>
  <a href="#top">To top</a>
</div>
{% endblock %}
