{% extends "base.html" %}
{% block content %}
<div class="w3-container">
  <div class="w3-row">
    <div class="w3-twothird">
      <h3>Real album stats for <a href="https://www.last.fm/user/{{username}}">{{ username }}</a></h3>
    </div>
    <div class="w3-third w3-padding-16">
      {% if range == '7'%}<strong>{%endif%}<a href="/get_stats?username={{username}}&range=7">Last 7 days</a>{% if range == '7'%}</strong>{%endif%}
      {% if range == '30'%}<strong>{%endif%}<a href="/get_stats?username={{username}}&range=30">Last 30 days</a>{% if range == '30'%}</strong>{%endif%}
      {% if range == '90'%}<strong>{%endif%}<a href="/get_stats?username={{username}}&range=90">Last 90 days</a>{% if range == '90'%}</strong>{%endif%}
      {% if range == '180'%}<strong>{%endif%}<a href="/get_stats?username={{username}}&range=180">Last 180 days</a>{% if range == '180'%}</strong>{%endif%}
      {% if range == '365'%}<strong>{%endif%}<a href="/get_stats?username={{username}}&range=365">Last 365 days</a>{% if range == '365'%}</strong>{%endif%}
      {% if not range %}<strong>{%endif%}<a href="/get_stats?username={{username}}">All time</a>{% if not range %}</strong>{%endif%}
    </div>
  </div>
  <table class="w3-table-all w3-hoverable">
    <tr class="w3-theme-d4">
      <th>#</th>
      <th><strong>Album plays</strong></th>
      <th>Album</th>
      <th>Track playcount</th>
      <th>Album track count</th>
    </tr>
    {% for stat in stats %}
      <tr>
        <td>{{ loop.index }}</td>
        <td><strong>{{stat.album_scrobble_count}}</strong></td>
        <td>{{stat.album_name}} &mdash; {{stat.artist_name}}</td>
        <td>{{stat.scrobble_count}}</td>
        <td>{{stat.track_count}}</td>
      </tr>
    {% endfor %}
  </table>
  <a href="#top">To top</a>
</div>
{% endblock %}
