{% extends "base.html" %}
{% block content %}
<div class="w3-container">
  <div class="w3-row">
    <div class="w3-twothird">
      <h3>Real album stats for <a href="https://www.last.fm/user/{{username}}">{{ username }}</a></h3>
    </div>
    <div class="w3-third w3-padding-16">
      {% for range in ranges %}
        {% if selected_range == range|string %}<strong>{%endif%}
        <a
          href="/get_stats?username={{username}}&range={{range}}"
          onClick="document.getElementById('overlay').classList.toggle('w3-hide');"
        >
          {% if range %}
            Last {{range}} days
          {% else %}
            All time
          {% endif %}
        </a>
        {% if selected_range == range|string %}</strong>{%endif%}
      {% endfor %}
    </div>
  </div>
  <table class="w3-table-all w3-hoverable">
    <tr class="w3-theme-d4">
      <th>#</th>
      <th><strong>Album plays</strong></th>
      <th>Album</th>
      <th>Track playcount</th>
      <th>Album track count</th>
    </tr>
    {% for stat in stats %}
      <tr>
        <td>{{ loop.index }}</td>
        <td><strong>{{stat.album_scrobble_count}}</strong></td>
        <td>{{stat.album_name}} &mdash; {{stat.artist_name}}</td>
        <td>{{stat.scrobble_count}}</td>
        <td>{{stat.track_count}}</td>
      </tr>
    {% endfor %}
  </table>
  <a href="#top">To top</a>
</div>
{% endblock %}
